{% macro displayQuotes(quote_list) %}

    {% for quote in quote_list %}
    <div class = "col-md-6">
        <div class="card bg-success">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <a href="/quote/{{quote.id}}">{{ quote.quote}}</a>
                    <footer class="blockquote-footer">{{post.user.username}} || {{quote.author}}</footer>
                </blockquote>
                <a href = "{{url_for('main.blog', post_id = post.id)}}"><button>Comment</button></a>
            </div>
        </div>
    </div>

    {% endfor %}

{% endmacro %}